body{
    font-family: 'Merriweather', serif;
    line-height: 200px;
    margin: 0 auto;
    height:100%;

}
.wrapper{
    background-color: lightslategray;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}
h1{
    text-align: center;
}
.section{
    display: inline;
}
#clockBackground{
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: black;
    float: left;
}
#clockBackground2{
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: pink;
    float: right;
}
#clock, #hexClock{
    color: white;
    font-size: 120px;
}

div{
    text-align: center;
    padding-top: 100px;
}